.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  background: #3041DE !important;
  width: 100%;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 23px;
  color: #fff !important;
  text-decoration: none !important;
  white-space: nowrap;
  margin-right: auto !important;
  margin-left: auto !important;
}

.navbar-brand span {
  font-weight: bold;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: rgb(0, 0, 0);
}

*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
[role=button] {
  cursor: pointer;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h5,
h5 {
  font-size: 1.25rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #3939d0 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  color: #575757;
  background-color: #fff;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  border: 1px solid #3041DE;
  background-color: #3041DE !important;
}

.btn-secondary {
  color: #fff;
  border: 1px solid #595959;
  background-color: #595959;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.spin {
  animation: spin 2s linear infinite;
}

.result-message {
  margin-bottom: 20px;
}

.result-message .success-message,
.result-message .error-message {
  font-weight: 700;
}

.success-message {
  color: #27ae60;
}

.error-message {
  color: #cc0000;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: #dee2e6;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border-bottom-width: 1px;
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.text-danger {
  color: #dc3545 !important;
}

.font-weight-bold {
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  bottom: 38px;
  left: 0px;
  z-index: 1000;
  display: none;
  min-width: 20rem;
  padding: 1rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #000 !important;
  text-decoration: none !important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #212529;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #0d6efd;
}

.dropdown-menu.show {
  display: flex;
}

.show > a {
  outline: 0;
}

.viewListOfSupportedFiles {
  color: #3939d0 !important;
  text-decoration: underline !important;
  border: none;
  background: none;
}

/* Banner Ads */
.adsbygoogle {
  display: block;
}

.banner-wrap {
  min-height: 280px;
  margin-top: 25px !important;
  margin-bottom: 30px !important;
}

/* Page Heading */
.page-heading {
  background: #f9f9f9;
  text-align: center;
  padding: 50px 0 30px;
  overflow: hidden;
  margin-bottom: 60px;
}

.page-heading h1 {
  font-weight: bold;
  font-size: 40px;
  color: #595f71;
  margin-bottom: 20px;
}

.page-heading p {
  max-width: 735px;
  font-size: 1.25rem !important;
  margin: auto !important;
  margin-bottom: 1.5rem !important;
  font-weight: 300 !important;
}

.page-heading .buttons-wrap {
  margin-bottom: 20px;
}

.page-heading .buttons-wrap .btn {
  margin-bottom: 10px;
}

.page-heading .file-upload {
  margin: 20px auto;
  max-width: 600px;
}

.file-upload .file-upload-select {
  display: flex;
  align-items: center;
  height: 38px;
  color: #595f71;
  cursor: pointer;
  text-align: left;
  background: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  border: 1px solid #dee2e6;
}

.file-upload .file-upload-select .file-select-button {
  background: #f8f9fa;
  padding: 8px 20px;
  display: inline-block;
  color: #111;
  border-right: 1px solid #dee2e6;
  cursor: pointer;
  white-space: nowrap;
}

.file-upload .file-upload-select .file-select-name {
  display: inline-block;
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  white-space: nowrap;
}

.file-upload .file-upload-select:hover .file-select-button {
  background: #e2e6ea;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-upload-select input[type=file] {
  display: none;
}

/* Social Networks */
.share-social p {
  font-size: 1rem !important;
  margin-bottom: 0 !important;
}

.social-networks {
  font-size: 40px;
}

.social-networks a {
  text-decoration: none !important;
  color: initial;
}

.icon-facebook-squared {
  color: #3d5dad !important;
}

.icon-twitter {
  color: #1da1f2 !important;
}

.icon-linkedin {
  color: #007bb5 !important;
}

.icon-whatsapp {
  color: #36c34e !important;
}

/* Tools List */
.tools-list {
  padding: 10px 0;
}

.tool-panel {
  padding: 40px 10px 30px;
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .tool-panel {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
  }
}
.panel-title {
  font-size: 20px;
  color: #595f71;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #595f71;
  margin-bottom: 30px;
}

/* Footer */
.footer {
  padding: 30px 0 20px;
  border-top: 1px solid #e6ebed;
  font-size: 16px;
  background-color: #fff;
}

.footer p {
  list-style: none;
  padding-left: 0;
  color: #575757 !important;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
}

@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
  }
}
@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333% !important;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75% !important;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.5rem - 1px);
  border-bottom-left-radius: calc(0.5rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}

.fade {
  transition: opacity 0.15s linear;
}/*# sourceMappingURL=main.css.map */